  <h1>Enter Github login:</h1>

  <form action="/info" method="get">
      <input name="github_login" type="text" class="form-control" autocomplete="off">

    <button class="proceed-button">Click me!</button>
  </form>
