<p>Welcome!</p>
<p>This service can help you find information about users and their public repositories hosted on Github.com. Enter Github username in the search bar for getting information.</p>

<div class="row">
  <div class="col-6 offset-3">

    <form action="/info" method="get" accept-charset="UTF-8">
      <div class="form-group">
        <input class="form-control me-2" name="github_login" type="search" placeholder="Enter Github username" aria-label="Search" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" data-disable-with="Search">
      </div>
     </form>

     <div class="attention">
       <p>
         Please pay attention!
         <i>
           The service has <a href="https://docs.github.com/en/developers/apps/building-github-apps/rate-limits-for-github-apps" title="Rate limits for GitHub Apps">reqests limit</a>.
         </i>
       </p>
     </div>

  </div>
</div>
